@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width           : 100%;
  margin          : 0;
  padding         : 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply transition-all ease-linear duration-100
  }

  body {
    @apply font-semibold
  }

  img {
    @apply object-cover
  }
}

